spring:
  application:
    name: CleanArchitecture

  datasource:
    url: jdbc:postgresql://localhost:5431/CleanArchitectureDB
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    show-sql: true

  flyway:
    enabled: true
