spring:
  application:
    name: CleanArchitecture

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5431/CleanArchitectureDB}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
