spring:
  application:
    name: CleanArchitecture

  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
